<div class="d-none">
  <%= simple_form_for [@sub_user, @question], data: { record_video_id: @question.id, sub_user_id: @sub_user.id } do |f| %>
    <%= f.input :title %>
    <%= f.input :video, as: :file %>
    <%= f.input :video_thumbnail, as: :file %>
    <%= f.submit %>
  <% end  %>
</div>

<div class="container">
  <%= link_to sub_user_show_path(@sub_user), style: 'color: #2F3E46; text-decoration: none;' do %>
      <div class="video-back-btn">
        <i class="fa-solid fa-angle-left"></i>
      </div>
  <% end %>

  <div class = "record-container">
  <div class="question-title-card">
    <h2 style="font-family: DM Serif Display;"><%= @question.title %></h2>
  </div>
  <div class="video-container">
    <div style="width: 100%; height: 100%; overflow:hidden">
      <div class="flip-horizontal record-video">
        <div class="recording-now-alert d-none">
          <span class="circle pulse red"></span></h1>
        </div>
        <video id="live" width="100%" height="100%" class="live-video-record" crop="crop" autoplay muted></video>
      </div>
    <button id="start" class="video-btn" style="z-index: 5;">Start</button>
    <button id="stop" class="video-btn" style="z-index: 4;">Stop and save</button>
    <div class="video-btns d-none">
      <%= link_to  sub_user_stories_path(@sub_user, @question) do %>
        <button class="save-btn" style="z-index: 3;"> Save Video</button>
      <% end %>
      <%= link_to sub_user_question_path(@sub_user, @question) do %>
        <button class="rerec-btn" style="z-index: 3;"> Re-record Video</button>
      <% end %>
    </div>

  </div>
    </div>
  </div>
</div>
