<div class="container" data-controller="question-button">
  <div data-question-button-target="body" class="data-body-c">
    <div class="questions-page-card">
      <%= form_with model: @sub_user, url: sub_users_path, html: { data: { question_button_target: 'form' } } do |f| %>
      <div class = "question-card" data-question-button-target="questionCard">
        <div class="welcome-card">
          <h2>Welcome to Life Capture!</h2>
          <h5>In order to ask you some interesting questions about your life, we first need to know a little about you and your past.</h5>
          <h5>Please answer questions consicely. For example, when asked about career a one word answer is fine.</h5>
          <h5>If you're happy to proceed click the button below.</h5>
        </div>
        <div class ="question-page-button">
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Ok, let's proceed" %>
          </div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :Please_enter_your_first_name, class:"question-card-text" %>
        <%= f.text_field :name, class:"answer-card-input", autofocus: true, placeholder: "e.g. Jane"  %>
        <div class ="question-page-button">
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal", style="margin-left: auto;">
            <%= "Next Question"  %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: 1%;"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :"What year were you born?", class:"question-card-text" %>
        <%= f.date_select :dob, :as => :date,
              :start_year => 1915, :end_year => 2000,
              :order => [:year], class:"answer-card-input" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(100% / 7);"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where did you primarily grow up?', class:"question-card-text" %>
        <%= f.text_field :childhood_location, class:"answer-card-input", placeholder: "e.g. Suffolk" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(2 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where were you educated?', class:"question-card-text"  %>
        <%= f.text_field :education, class:"answer-card-input", placeholder: "e.g. Devon"  %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(3 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'What was your career?', class:"question-card-text"  %>
        <%= f.text_field :career, class:"answer-card-input", placeholder: "e.g. Dentist"  %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(4 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where did you spend your adult life?', class:"question-card-text"  %>
        <%= f.text_field :adult_life_location, class:"answer-card-input", placeholder: "e.g. London"  %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(5 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :Which_hobbies_have_played_a_major_part_of_your_life?, class:"question-card-text"  %>
        <%= f.text_field :hobbies, class:"answer-card-input", placeholder: "e.g. Sailing and reading"  %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(6 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Please add a profile picture', class:"question-card-text"  %>
        <%= f.file_field :photo, accept: "image/*" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class="submit-button" data-question-button-target="submitButton" data-action="click->question-button#submit">
            <%= f.submit "Submit", class:"btn-sub-user-form" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: 100%;"></div>
        </div>
      </div>
    </div>
      </div>
  <% end %>
  <div class="loading-card d-none" data-question-button-target="loadingMessage">
    <%= image_tag 'small_logo_green.png', class: "lds-hourglass" %>
    <div class="d-flex loading-text">
      <h3 id="element"></h3>
    </div>
  </div>
</div>
