<div class="container" data-controller="question-button">
  <div data-question-button-target="body">
    <div class="questions-page-card">
      <%= form_with model: @sub_user, url: sub_users_path, html: { data: { question_button_target: "form"} } do |f| %>
      <div class = "question-card" data-question-button-target="questionCard">
        <div class="welcome-card">
          <h2>Welcome to Life Capture!</h2>
          <h5>In order to ask some interesting questions about your loved ones life, we first need to know a little about them and their past.</h5>
          <h5>If you're happy to proceed click the button below.</h5>
        </div>
        <div class ="question-page-button">
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Ok, let's proceed" %>
          </div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :Please_enter_their_name, class:"question-card-text" %>
        <%= f.text_field :name, class:"answer-card-input", placeholder: "e.g. Bruce" %>
        <div class ="question-page-button">
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal" style="margin-left: auto">
            <%= "Next Question"  %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: 1%;"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :"What year were they born?", class:"question-card-text" %>
        <%= f.date_select :dob, :as => :date,
              :start_year => 1915, :end_year => 2000,
              :order => [:year], class:"answer-card-input" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(100% / 7);"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where did they primarily grow up?', class:"question-card-text" %>
        <%= f.text_field :childhood_location, class:"answer-card-input", placeholder: "e.g. Yorkshire" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(2 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where were they educated', class:"question-card-text"  %>
        <%= f.text_field :education, class:"answer-card-input", placeholder: "e.g. London"  %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(3 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'What was their career?', class:"question-card-text",placeholder: "e.g. Dentist"  %>
        <%= f.text_field :career, class:"answer-card-input" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(4 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :'Where did they spend their adult life?', class:"question-card-text"  %>
        <%= f.text_field :adult_life_location, class:"answer-card-input", placeholder: "e.g. Devon"%>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(5 * (100% / 7));"></div>
        </div>
      </div>
      <div class = "question-card" data-question-button-target="questionCard">
        <%= f.label :Which_hobbies_have_played_a_major_part_of_their_life?, class:"question-card-text"  %>
        <%= f.text_field :hobbies, class:"answer-card-input", placeholder: "e.g.sailing and reading" %>
        <div class ="question-page-button">
          <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
            <%= "Previous Question" %>
          </div>
          <div class = "next-button" data-question-button-target="next-question" data-action="click->question-button#reveal">
            <%= "Next Question" %>
          </div>
        </div>
        <div id="myProgress">
          <div id="myBar" style="width: calc(6 * (100% / 7));"></div>
        </div>
      </div>
       <div class = "question-card" data-question-button-target="questionCard">
          <%= f.label :'Please add a profile picture', class:"question-card-text"%>
          <%= f.file_field :photo, style: "padding: 20px 0px;"  %>
          <div class ="question-page-button">
              <div class = "previous-button" data-question-button-target="previous-question" data-action="click->question-button#back">
                <%= "Previous Question" %>
              </div>
              <div>
                <%= f.submit "Submit", class:"btn-sub-user-form submit-button", data: { question_button_target: "submitButton", action: "click->question-button#submit"} %>
              </div>
          </div>
          <div id="myProgress">
          <div id="myBar" style="width: 100%;"></div>
          </div>
        </div>
    <% end %>
          </div>
    </div>
    <div class="loading-card d-none" data-question-button-target="loadingMessage">
      <%= image_tag 'small_logo_green.png', class: "lds-hourglass" %>
      <div class="d-flex loading-text">
        <h3 id="element" ></h3>
      </div>
    </div>
    </div>
  <%# </div> %>
