
<div class="container">
  <div class="navbar-show">
    <li class="nav-item nav-active">
      <%= link_to 'Upcoming Stories', sub_user_show_path(@sub_user), class: 'nav-link' %>
    </li>
      </li>
      <li class="nav-item">
        <%= link_to 'Story Bank', sub_user_stories_path(@sub_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Playlists', sub_user_playlists_path(@sub_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Film', film_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Book', book_path, class: 'nav-link' %>
      </li>
  </div>
  <div class="show-container">
    <div class="showpage-container">
        <ul id="question-ul" style="list-style: none;">
          <% video_not_attached = @questions.reject { |question| question.video.attached?} %>
            <% if video_not_attached.empty? %>
              <li><h2>You have answered all of the available questions.</h2></li>
            <% else %>
              <% @dates.each do |date| %>
                <% if ( date - Date.today ) < 7 && ( date - Date.today ) >= 0 %>
                  <h3>This weeks questions</h3>
                <% else %>
                  <h5><%= date.strftime("%A, %d %b %Y") %></h5>
                <% end %>
                <% video_not_attached.each_with_index do |question, index| %>
                <% if question.answer_date == date %>
                  <%= link_to sub_user_question_path(@sub_user, question) do %>
                      <div class="generated-questions-card">
                        <%= question.title%>
                        <div>
                          <%= link_to sub_user_question_path(@sub_user, question), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                          <% end %>
                          <% if ( date - Date.today ) < 7 && ( date - Date.today ) >= 0 %>
                            <%= link_to sub_user_question_path(@sub_user, question) do %>
                              <%= image_tag("rec-button.png", class: 'showpage-record-button') %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
