
<div class="container">
  <%= link_to 'Dashboard', dashboard_path %>
  <h1>Show for <%= @sub_user.name %></h1>
  <%= link_to 'Edit', edit_sub_user_path(@sub_user) %>
  <%= link_to 'Delete Subuser', sub_user_path(@sub_user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this subuser?'} %>
  <div class="show-container">

    <!-- Button -->
      <div class="btn-charcol" data-controller="copy" data-target="copy.source" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <h3>Create new memory</h3>
        <i class="fas fa-plus plus-icon"></i>
      </div>

</div>

  <!--Centered Modal < Shakzz :) -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="copy">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Select an Option</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="input-group" data-controller="copy" data-copy-feedback-text-value="Copied!">
                    <input class="form-control" data-copy-target="input" type="text" value= https://www.life-capture.com readonly>
                    <div class="input-group-append">
                      <button id="copy-button" class="btn btn-outline-primary" data-action="click->copy#copy">Copy to Clipboard</button>
                    </div>
                  </div>
                  <%= link_to sub_user_questions_path(@sub_user) do %>
                    <button class="custom-button" data-action="click->copy#copy">
                      <i class="fas fa-plus"></i>
                      <span class="button-text">Create a memory on this device</span>
                    </button>
                  <% end %>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
        </div>

  <!--Javascript -->



    <div class="videos-container">
      <h3>You have no memories yet...</h3>
    </div>

  </div>
</div>
