<div class="container">
  <div class="show-header-container">
    <div class="header-name">
      <h1><%= @sub_user.name.capitalize%>'s profile</h1>
    </div>
    <div class="btn-group dropstart">
      <button type="button" class="burger-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars" style="margin: auto;"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-border">
      <li> <%= link_to 'Dashboard', dashboard_path, class: "dropdown-i" %> </li>
        <li> <%= link_to 'Edit profile', edit_sub_user_path(@sub_user), class: "dropdown-i" %> </li>
        <li><%= link_to 'Delete profile', sub_user_path(@sub_user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this subuser?'}, class: "dropdown-i" %> </li>
          <!-- Dropdown menu links -->
      </ul>
    </div>
  </div>
  <div class="navbar-show">
    <li class="nav-item">
      <%= link_to 'Upcoming Stories', sub_user_show_path(@sub_user), class: 'nav-link' %>
    </li>
      </li>
      <li class="nav-item nav-active">
        <%= link_to 'Story Bank', sub_user_stories_path(@sub_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Playlists', sub_user_playlists_path(@sub_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Film', dashboard_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Book', dashboard_path, class: 'nav-link' %>
      </li>
  </div>
  <div class="show-container">
    <div class="videos-container">
      <% if @questions.find { |question| question.video.attached? } %>
        <div class="video-card-container">
          <% questions_attached = @questions.select { |question| question.video.attached?} %>
          <% questions_attached.each do |attached_question| %>
            <div class="video-card">
              <div class="video-card-title">
                <h4> <%= attached_question.title %></h4>
              </div>
              <canvas id="canvas" style="display: none;"></canvas>
              <div class="video-card-box">
                <% if Rails.env.development? %>
                  <video src="https://res.cloudinary.com/dpqge0m1h/raw/upload/v1701279627/development/<%= attached_question.video.key %>.mp4" controls="controls" preload="none" class="video-card-video"></video>
                <% elsif Rails.env.production? %>
                  <video src="https://res.cloudinary.com/dpqge0m1h/raw/upload/v1701279627/production/<%= attached_question.video.key %>.mp4" controls="controls" preload="none" class="video-card-video"></video>
                <% end %>
              </div>
              <div>
              <%= link_to 'rerecord video', sub_user_question_path(@sub_user, attached_question) %>
              <%= link_to 'delete memory', question_path(attached_question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the memory?'} %>
              </div>
            </div>
          <% end %>
      </div>

      <% else %>

        <h4 style="font-family:DM Serif Display;">You have no stories recorded yet...</h4>
      <% end %>

    </div>

  </div>
</div>
