<% if user_signed_in? %>
  <div class="navbar">
    <div class="navbar-container container">
      <div>
        <%= link_to root_path do %>
          <%= image_tag 'big_logo_green.png', width:"200vh", style:"margin-right:100px;" %>
        <% end %>
      </div>
      <% sub_user = current_user.sub_users.find{ |sub_user| sub_user.id == params[:id].to_i }%>
      <% sub_user_playlist = current_user.sub_users.find{ |sub_user| sub_user.id = params[:sub_user_id].to_i} if params[:sub_user_id] %>
        <div>
          <div class="btn-group dropstart">
            <button type="button" class="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: 0; background: transparent;">

              <% if sub_user && sub_user.photo.attached?  %>
                <%= image_tag sub_user.photo, class: 'image-avatar'  %>
              <% elsif sub_user || sub_user_playlist %>
                <%= image_tag "user.png", class: 'image-avatar'  %>
              <% else %>
                <i class="fa-solid fa-user avatar-icon"></i>
              <% end %>

            </button>
            <ul class="dropdown-menu">

              <% if current_user.sub_users %>
                <% current_user.sub_users.each do |sub_user| %>
                  <li><%= link_to sub_user.name, sub_user_show_path(sub_user), class: 'dropdown-item' %></li>
                <% end %>
              <% end %>
              <% if sub_user%>
                  <li> <%= link_to 'Edit profile', edit_sub_user_path(sub_user), class: "dropdown-item" %> </li>
                  <li><%= link_to 'Delete profile', sub_user_path(sub_user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this subuser?'}, class: "dropdown-item" %> </li>
              <% elsif sub_user_playlist %>
                  <li> <%= link_to 'Edit profile', edit_sub_user_path(sub_user_playlist), class: "dropdown-item" %> </li>
                  <li><%= link_to 'Delete profile', sub_user_path(sub_user_playlist), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this subuser?'}, class: "dropdown-item" %> </li>
              <% end %>

              <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
              <li><%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: 'dropdown-item' %></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="navbar">
      <div class="container d-flex jutify-content-between">
        <div>
          <%= link_to root_path do %>
          <%= image_tag 'big_logo_green.png', width:"200vh", style:"margin-right:100px;" %>
            <%# <h1 style="color: black; font-size: 20px ">Life Capture</h1> %>
          <% end %>
        </div>

      <div class="sign-container">

          <div class="d-flex">
          <%= link_to new_user_session_path do %>
            <p class='btn-brown'>Sign in</p>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <p class='btn-brown'>Sign up</p>
          <% end %>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
