<div class="container">
<%= "Account Holder:" %>
<%=current_user.username.capitalize %>
</div>
<div class ="sub-users-card">
  <% current_user.sub_users.each do |sub_user| %>
    <div class = "sub-users">
      <%= sub_user.relationship_to_user.capitalize %>
      <%= sub_user.name %>
      <%= link_to "Go to #{sub_user.name}'s profile", sub_user %>
    </div>
  <% end %>
  <div class= "sub-users">
    <%= "Add a new sub-user" %>
      <%= link_to new_sub_user_path do %>
      <%= image_tag "plus.png", class: "sub-user-icon" %>
      <% end %>
  </div>
</div>
</div>
