<div class= "textstyling" style= "font-family: EB Garamond; color: black; font-size: 1.5vw">
<div class ="sub-users-card">
  <% current_user.sub_users.each do |sub_user| %>
  <%= link_to sub_user do %>
    <div class = "sub-users">
      <%= image_tag "user_icon.png", class: "sub-user-icon" %>
    </div>
    <div class="sub-user-name">
    <%= sub_user.name %>
    </div>
     <%end%>
  <% end %>
      <%= link_to new_sub_user_path do %>
        <div class= "sub-users">
          <%= image_tag "add_icon.png", class: "sub-user-icon" %>
        </div>
        <div class = "new-user-name">
          <%= "Add new profile" %>
        </div>
      <% end %>
</div>
</div>
