<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "banner_image.jpg" %>);">
  <div class="container mb-5">
    <div class="home-headers">
    <% if user_signed_in? %>
    <h1> Welcome Back, <%=current_user.username.capitalize%> </h1>
    <% else  %>
    <h1>Store Your Memories,</h1>
    <h1>Preserve Your Legacy.</h1>
    <h3>Remember people in their words and in their voice</h3>
    <% end %>
    </div>
<!-- fix link to
--> <div class="Top button d-flex">
<% if user_signed_in? %>
        <%= link_to dashboard_path, class: "d-inline-block mb-4 mt-3" do %>
            <p class='btn-brown mb-25' style="font-family: Public Sans; color:white">Go to your Dashboard</p>
          <% end %>
<% else %>
        <%= link_to new_user_registration_path, class: "d-inline-block mb-4 mt-3" do %>
            <p class='btn-brown' style="font-family: Public Sans; color:white">Sign Up Now</p>
          <% end %>

<% end %>
      <a href="#scroll-target">
    </div>
    <div class = "container mb-3 d-flex align-items-center justify-content-center">
        <%= image_tag("dropdownarrow.png", class:'d-inline-flex align-items-center', style:"height:30px;") %>
      </a>
     </div>
  </div>
</div>
        <div id="scroll-target"></div>
<div class="section top-section">
  <div class="container pt-2">
    <h2 style="font-family: DM Serif Display; color: white" class=text-center>HOW IT WORKS</h2>
    <div class="top-section-card-container">
      <div class="top-section-card">
        <div class="number-icon">1</div>
        <p style="font-family: EB Garamond; color: white">Sign up and answer some questions about your or your relative's life</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">2</div>
        <p style="font-family: EB Garamond; color: white">Each week we will send you questions tailored to you to record via video</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">3</div>
        <p style="font-family: EB Garamond; color: white">Store your memories, turn them into film/book and share with loved ones</p>
      </div>
    </div>
  </div>
</div>
<div class="section middle-section">
  <div class="container pt-5 testimonial">
    <h2 class= "text-center mb-5"style = "font-family: DM Serif Display; color: black">WHY CHOOSE LIFE CAPTURE</h2>
    <div class="custom-list">
    <li class= "text-center mb-5" > Have a safe place to store your memories forever</li>
    <li class= "text-center mb-5" > Pass down your stories, in your own words, for generations to come</li>
    <li class= "text-center mb-5" > Reminisce on your favourite times</li>
  </div>
</div>
<div class="container">
<hr>
</div>
<div class="section bottom-section">
  <div class="container pt-5">
    <h4 class= "text-center" style="font-family: EB Garamond; color: black; font-size: 1.5vw" > <i>"Getting my grandma to record her stories from her childhood </i></h4>
    <h4 class= "text-center mb-5" style="font-family: EB Garamond; color: black; font-size: 1.5vw"> <i> and life was so valuable - I wish I could do it for all my relatives!"</i></h4>
    <h4 class= "text-center mb-3" style="font-family: EB Garamond; color: black; font-size: 1.5vw">- Sergio Ramos, Spain</h4>
    <div class="Button bottom d-flex justify-content-center" style="margin-bottom: 24px">
      <% if user_signed_in? %>
              <%= link_to dashboard_path, class: "d-inline-block mb-4 mt-3" do %>
                  <p class='btn-brown' style="font-family: Public Sans; color:white">Go to your Dashboard</p>
                <% end %>
      <% else %>
              <%= link_to new_user_registration_path, class: "d-inline-block mb-4 mt-3" do %>
                  <p class='btn-brown' style="font-family: Public Sans; color:white">Get started</p>
                <% end %>
      <% end %>
      </div>
  </div>
</div>


<script>
  document.querySelectorAll(a[href^="#"]).forEach(anchor => {
      anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behaviour: 'smooth'
        });
      });
  });
</script>
