<div class="container mt-3">
<div class="login-form">
<h1 style= "font-family: EB Garamond; color: black;"> <i> Log in </i></h1>
<hr>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style= "font-family: eb garamont">
    <%= f.input :username,
                placeholder: "Username",
                label: false%>
    <%= f.input :email,
                placeholder: "Email",
                label: false,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                placeholder: "Password",
                label: false,
                required: false,
                input_html: { autocomplete: "current-password" } %>
     <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class:"login-button" %>
  </div>
<% end %>


</div>
</div>
