<div class="container">





<!-----NavBar ------->
 <div class="navbar-show">
    <li class="nav-item">
      <%= link_to 'Upcoming Stories', sub_user_show_path(@sub_user), class: 'nav-link' %>
    </li>
      </li>
      <li class="nav-item">
        <%= link_to 'Story Bank', sub_user_stories_path(@sub_user), class: 'nav-link' %>
      </li>
      <li class="nav-item nav-active">
        <%= link_to 'Playlists', sub_user_playlists_path(@sub_user), class: 'nav-link' %>
      </li>
  </div>








<div class="show-container">
  <div class="top-section-playlist">
      <h2>Group your videos by topic!</h2>
      <div class="d-flex justify-content-end align-items-start mb-3">

       <!-- Button trigger modal -->
    <button type="button" class="btn-create" data-bs-toggle="modal" data-bs-target="#exampleModal" style="flex-shrink: 0; margin-left: 36px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="70" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
       <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a Playlist</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@sub_user, @playlist] do |f| %>
              <%= f.input :name %>
              <%= f.submit "Confirm"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>









<!----------------------- If this layout changes the javascript will change. Be careful! ------------------------------------------------------------------>

  <div class="videos-container-playlist" data-controller="playlist">
      <% @playlists.each do |playlist| %>
      <div class="sub-section p-3">
         <div class="d-flex justify-content-end align-items-start mb-3">
          <button type="button" class="btn-create btn-add d-none" data-bs-toggle="modal" data-bs-target="#Add-to-playlist-modal-<%=playlist.id%>" style="flex-shrink: 0; margin-left: 36px;">
            <i class="fas fa-plus"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"  class="bi bi-person-lines-fill" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
</svg>
          </button>
         </div>
        <!-- Modal -->
        <div class="modal fade" id="Add-to-playlist-modal-<%=playlist.id%>" tabindex="-1" aria-labelledby="Add-to-playlist-modal-<%=playlist.id%>Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Add-to-playlist-modal-<%=playlist.id%>Label">Add to your playlist</h5>
                <button type="button" class="btn-close btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@sub_user, playlist, @response_bookmark] do |f|%>
                  <%= f.input :question_id, collection:  @questions.select{ |question| question.video.attached? && !playlist.questions.include?(question) } %>
                  <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <div class="btn-group">
          <button class="btn-playlist" type="button" data-action="click->playlist#background"data-bs-toggle="collapse" data-bs-target="#playlist<%= playlist.id%>" aria-expanded="false" aria-controls="playlist<%= playlist.id%>">
            <%= playlist.name %>
          </button>
          <div class="collapse" id="playlist<%= playlist.id%>">
            <div class="videos-container" style="background: transparent !important; margin-top: 0px">
                <div class="video-card-container" style="background: transparent !important;">
              <% playlist.questions.each do |question| %>
                  <div class="video-card">
                    <canvas id="canvas" style="display: none;"></canvas>
                    <div class="video-card-box">
                      <%= cl_image_tag question.video_thumbnail.key, class: "video-card-thumbnail" %>
                      <button type="button" class="btn-play" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= question.id %>">
                        <i class="fa-solid fa-play" style="color: #2F3E46"></i>
                      </button>
                    </div>
                    <div class="video-card-title">
                      <h4> <%= question.title %></h4>
                    </div>
                    <div class="video-card-date">
                      <%= question.updated_at.strftime("%d %B %Y") %>
                    </div>
                    <div>

                  <!-- Modal -->


                  <div class="modal fade" id="staticBackdrop<%= question.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content modal-content-video">
                          <button type="button" class="btn-modal-playlist" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-header-video">
                          <h1 class="modal-title-video" id="staticBackdropLabel"><%= question.title %></h1>
                        </div>
                        <div class="modal-body">
                          <% if Rails.env.development? %>
                            <video src="https://res.cloudinary.com/dpqge0m1h/raw/upload/v1701279627/development/<%= question.video.key %>.mp4" controls="controls" preload="none" class="video-card-video" poster="https://res.cloudinary.com/dpqge0m1h/image/upload/v1701788922/development/<%= question.video_thumbnail.key %>.jpg"></video>
                          <% elsif Rails.env.production? %>
                            <video src="https://res.cloudinary.com/dpqge0m1h/raw/upload/v1701279627/production/<%= question.video.key %>.mp4" controls="controls" preload="none" class="video-card-video" poster="https://res.cloudinary.com/dpqge0m1h/image/upload/v1701788922/production/<%= question.video_thumbnail.key %>.jpg"></video>
                          <% end %>
                        </div>
                        <div class="modal-footer-video">
                          <%= link_to 'Re-record Video', sub_user_question_path(@sub_user, question), class: 'modal-video-btn' %>
                          <%= link_to 'Share this video', "", data: { bs_toggle:"modal", bs_target:"#staticBackdrop"}, class: 'modal-video-btn' %>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>
                  </div>
              <% end %>
                </div>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>








  </div>
</div>
