<!DOCTYPE html>
<html>
  <head>
    <title>LifeCapture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="<%= image_path('small_logo_blue.png') %>">
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>
<div class="min-height">
    <%= yield %>
</div>
<% unless controller_name == 'pages' && action_name == 'dashboard' %>
     <%= render 'pages/footer'%>
  <% end %>
  </body>
</html>
